<a href="https://colab.research.google.com/github/farihahahmed/wind-power-forecasting-AI-cost-cutting-with-past-power-production-data/blob/main/WB_Creating_input_and_output_dfs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Shaping df1

In [ ]:
#Mounting Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
df1 = pd.read_csv('/content/drive/MyDrive/HSA/Dataset1.csv')

In [ ]:
df1.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286

In [ ]:
df1.tail()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
50525,31 12 2018 23:10,2963.980957,11.404030,3397.190793,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,1173.055771,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,1788.284755,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,2418.382503,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,2779.184096,82.274620

In [ ]:
df1 = pd.DataFrame(df1)

In [ ]:
df1

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286
...,...,...,...,...,...
50525,31 12 2018 23:10,2963.980957,11.404030,3397.190793,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,1173.055771,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,1788.284755,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,2418.382503,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,2779.184096,82.274620

In [ ]:
del df1['Theoretical_Power_Curve (KWh)']

In [ ]:
df1

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,259.994904
1,01 01 2018 00:10,453.769196,5.672167,268.641113
2,01 01 2018 00:20,306.376587,5.216037,272.564789
3,01 01 2018 00:30,419.645905,5.659674,271.258087
4,01 01 2018 00:40,380.650696,5.577941,265.674286
...,...,...,...,...
50525,31 12 2018 23:10,2963.980957,11.404030,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,82.274620

#Making df3 = output, df2 = input

df2, the input, should have wind speed and wind direction

df3, the output, should have LV active power

In [ ]:
df3 = df1

In [ ]:
df2 = df1

#Shaping df3 = output (only LV active power)

In [ ]:
df3

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,259.994904
1,01 01 2018 00:10,453.769196,5.672167,268.641113
2,01 01 2018 00:20,306.376587,5.216037,272.564789
3,01 01 2018 00:30,419.645905,5.659674,271.258087
4,01 01 2018 00:40,380.650696,5.577941,265.674286
...,...,...,...,...
50525,31 12 2018 23:10,2963.980957,11.404030,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,82.274620

In [ ]:
df3 = df3[['LV ActivePower (kW)']]

In [ ]:
df3

       LV ActivePower (kW)
0               380.047791
1               453.769196
2               306.376587
3               419.645905
4               380.650696
...                    ...
50525          2963.980957
50526          1684.353027
50527          2201.106934
50528          2515.694092
50529          2820.466064

[50530 rows x 1 columns]

#Shaping df2 = input (wind speed and direction)

In [ ]:
df2

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,259.994904
1,01 01 2018 00:10,453.769196,5.672167,268.641113
2,01 01 2018 00:20,306.376587,5.216037,272.564789
3,01 01 2018 00:30,419.645905,5.659674,271.258087
4,01 01 2018 00:40,380.650696,5.577941,265.674286
...,...,...,...,...
50525,31 12 2018 23:10,2963.980957,11.404030,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,82.274620

In [ ]:
df2 = df2[['Wind Speed (m/s)', 'Wind Direction (°)']]

In [ ]:
df2

       Wind Speed (m/s)  Wind Direction (°)
0              5.311336          259.994904
1              5.672167          268.641113
2              5.216037          272.564789
3              5.659674          271.258087
4              5.577941          265.674286
...                 ...                 ...
50525         11.404030           80.502724
50526          7.332648           84.062599
50527          8.435358           84.742500
50528          9.421366           84.297913
50529          9.979332           82.274620

[50530 rows x 2 columns]

#Seeing shape of df2 and df3

In [ ]:
df3.shape

(50530, 1)

In [ ]:
df2.shape

(50530, 2)

#So, df3 = output, df2 = input

In [ ]:
from google.colab import files
df3.to_csv('WB_output.csv')
files.download('WB_output.csv')

In [ ]:
from google.colab import files
df2.to_csv('WB_input.csv')
files.download('WB_input.csv')

In [ ]:
df3

       LV ActivePower (kW)
0               380.047791
1               453.769196
2               306.376587
3               419.645905
4               380.650696
...                    ...
50525          2963.980957
50526          1684.353027
50527          2201.106934
50528          2515.694092
50529          2820.466064

[50530 rows x 1 columns]

In [ ]:
df2

       Wind Speed (m/s)  Wind Direction (°)
0              5.311336          259.994904
1              5.672167          268.641113
2              5.216037          272.564789
3              5.659674          271.258087
4              5.577941          265.674286
...                 ...                 ...
50525         11.404030           80.502724
50526          7.332648           84.062599
50527          8.435358           84.742500
50528          9.421366           84.297913
50529          9.979332           82.274620

[50530 rows x 2 columns]